/* Global styles */
html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Main app container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Header style */
h1 {
  font-family: "Press Start 2P";
  font-size: 50px;
  color: lightgray;
  padding: 10px;
  letter-spacing: 10px;
}

/* Game board styles */
#gameBoard {
  width: 1200px;
  height: 600px;
  position: relative;
}

/* Counter style */
.counter {
  color: lightgray;
  font-family: "Press Start 2P", monospace;
  font-size: 16px;
  background-color: transparent;
  padding: 5px 10px;
  margin: 20px 0;
  border: 1px solid lightgray;
  text-align: center;
  display: inline-block;
}

/* Canvas style */
.canvas {
  width: 100%;
  height: 100%;
  background-color: transparent; /* Make the canvas transparent */
}

/* Level selection Styles */

.level-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 1500px;
}

.level-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.level {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

/* Level button styles */

.button-container {
  display: flex;
  flex-direction: column;
  align-items: top;
  position: absolute;
  right: 0;
}

/* .button-container h2 {
  color: lightgray;
  font-family: "Press Start 2P", monospace;
  font-size: 16px;
  background-color: transparent;
  margin-bottom: 20px;
  display: inline-block;
} */

.button-container button.highlight {
  border: 2px solid lightgray;
}

.button-container button {
  width: 130px;
  height: 40px;
  color: white;
  font-family: "Press Start 2P", monospace;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.button-container button:hover {
  transform: scale(1.05);
}

.button-container button:focus {
  outline: none;
}

/* Button colors for each level*/
#jungle-button {
  background-color: mediumorchid;
}

#underwater-button {
  background-color: teal;
}

#desert-button {
  background-color: goldenrod;
}

#forest-button {
  background-color: darkgreen;
}

#bushland-button {
  background-color: rosybrown;
}

#mountains-button {
  background-color: navy;
}

/* Add this CSS for the Highscores component */

/* Highscores styles */

.highscores-container {
  margin: 20px;
  padding: 20px;
  background-color: #000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: lightgray;
}

.highscores-container h2 {
  width: 1200px; /* Adjust the width as needed */
  text-align: center;
  color: lightgray;
  font-family: "Press Start 2P", monospace;
  letter-spacing: 5px;
  margin-top: 50px;
}

.highscores-table {
  width: 400px; /* Adjust the width as needed to match the game area */
  margin: 0 auto; /* Center the table horizontally */
  font-family: "Press Start 2P", monospace;
  font-size: 16px;
  border-collapse: collapse;
}

.highscores-table th,
.highscores-table td {
  padding: 10px;
  text-align: left;
}

#header-name {
  text-align: left;
  padding-bottom: 10px;
  font-size: 18px;
  color: #4caf50;
}

#header-score {
  text-align: right;
  padding-bottom: 10px;
  font-size: 18px;
  color: #4caf50;
}

.highscores-table tbody tr {
  background-color: #333;
  margin: 10px 0px;
  border-bottom: 10px solid black;
}

.highscores-table tbody tr:nth-child(odd) {
  background-color: #222;
  margin: 1px 0px;
  border-bottom: 10px solid black;
}

.highscores-table .highlighted {
  background-color: #4caf50;
  font-weight: bold;
}

.highscores-table td.player-score {
  text-align: right;
}

/* Footer Styles */
.footer {
  width: 100%;
  height: auto;
  color: lightgray;
  font-family: "Press Start 2P", monospace;
  font-size: 12px;
  text-align: center;
  background-color: #000;
  position: sticky;
  bottom: 0;
}

.footer span {
  font-size: 20px;
}
