body {
  height: 100vh;
  background-color: black;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: "Press Start 2P";
  font-size: 50px;
  color: lightgray;
  padding: 10px;
  letter-spacing: 10px;
}

#gameBoard {
  width: 1300px;
  height: 600px;
  position: relative;
}

.counter {
  color: lightgray;
  font-family: "Press Start 2P", monospace;
  font-size: 16px;
  background-color: transparent;
  padding: 5px 10px;
  margin: 20px 0;
  border: 1px solid lightgray;
  text-align: center;
  display: inline-block;
}

.canvas {
  width: 100%;
  height: 100%;
  background-color: transparent; /* Make the canvas transparent */
}

.level {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

#levels {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.level-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 1600px;
}

#canvasContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1300px;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: top;
  position: absolute;
  right: 0;
}

.level-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.button-container button {
  width: 130px;
  height: 40px;
  color: white;
  font-family: "Press Start 2P", monospace;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.button-container button:hover {
  transform: scale(1.05);
}

.button-container button:focus {
  outline: none;
}

#jungle-button {
  background-color: mediumorchid;
}

#underwater-button {
  background-color: teal;
}

#desert-button {
  background-color: goldenrod;
}

#forest-button {
  background-color: darkgreen;
}

#bushland-button {
  background-color: rosybrown;
}

#mountains-button {
  background-color: navy;
}

.footer {
  color: lightgray;
  font-family: "Press Start 2P", monospace;
  font-size: 12px;
  margin-top: auto;
  text-align: center;
}

#emoji {
  font-size: 20px;
}
