body {
  height: 100vh;
  background-color: darkgray;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Press Start 2P";
  font-size: 50px;
}

#gameBoard {
  width: 1300px;
  height: 600px;
  border: 0px solid black;
  background-color: white;
  position: relative;
}
.counter {
  color: black; /* Retro green text color */
  font-family: "Press Start 2P", monospace; /* Retro pixelated font */
  font-size: 16px; /* Smaller font size for a classic look */
  background-color: transparent; /* No background */
  padding: 5px 10px; /* Reduced padding */
  margin: 20px 0; /* Margin above and below the counter */
  border: 1px solid black; /* Simple green border */
  text-align: center;
  display: inline-block;
}
